.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; 
  margin: 0 auto; 
  padding: 20px;
  border-radius: 15px; 
  background: linear-gradient(to bottom, #ffeb3b, #4caf50); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%; 
  max-width: 500px; 
  height: 400px; 
  color: white; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

/* Header styles */
.auth-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.auth-header h2 {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

/* Button for switching between login/register */
.switch-btn {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.switch-btn:hover {
  background-color: #45a049;
}

/* Button for switching between user/admin/driver */
.auth-toggle {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.switch-user {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.switch-user:hover {
  background-color: #0056b3;
}

.auth-toggle button {
  width: 32%; 
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Input fields */
input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%; 
  box-sizing: border-box; 
}

/* Ensure uniform size for all text fields (both login and register) */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%; 
}

/* Submit button */
button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
